body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(145deg, rgb(195, 240, 200), rgb(80, 155, 245));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.overall {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
}

.boxcontainer {
    display: flex;
    flex-direction: column;
    background: #FABC41;
    width: 200px;
    position: relative;
    border-radius: 1rem;
    padding: 10px;
    align-items: center;
    flex: 1;
}

.boxcontainer input {
    background: white;
    border-radius: 6px;
    border: none;
    outline: none;
}

.boxcontainer button:hover {
    background: #cf3e00;
    border-radius: 0.5rem;
}

.boxcontainer input .boxcontainer label,
input,
button {
    margin-top: 10px;
}

.dashboard {
    background: #3A5795;
    width: 100%;
    color: aliceblue;
    font-weight: 15px;
    font-size: 20px;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    justify-content: center;
}

.dashboard p {
    margin: 10px;
}

#cinbalance {
    color: rgb(253, 253, 253);
}

input[type=text]:focus {
    background-color: lightblue;
}

.boxcontainer button {
    border: none;
    cursor: pointer;
    background: #E5642B;
    border-radius: 0.5rem;
    margin: 10px;
}

@media screen and (max-width:800px) {
    body {
        flex-direction: column;
    }
    .boxcontainer {
        border: solid black 1px;
    }
    .dashboard {
        padding: 0 0 0 20px;
        width: 20rem;
    }
}

.entryList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-item-expense {
    background-color: #ff5a18;
    margin: 1rem0000;
}

.list-item-expense::after {
    content: ' rs expense ';
}

.list-item-income {
    background-color: #78f054;
}

.list-item-income::after {
    content: ' rs income ';
}

.history {
    background: #78f054;
}